{% extends "layout/basic.html" %}

{% block title %}{{ current_rubric.name }}{% endblock %}

{% block content %}
    <h2>Рубрика: {{ current_rubric.name }}</h2><br>
    {% for bb in bbs %}
        <div>
            <hr>
            <p>Опубликовано: {{ bb.published|date:"d.m.Y H:i:s" }}, Голосов: {{ bb.likes }}</p>
            <h2><a href="{% url 'detail' pk=bb.pk %}">{{ bb.title }}</a></h2>
            <p><a class="edit_post" href="{% url 'edit' pk=bb.pk %}">Редактировать</a> <a class="edit_post"
                                                                                          href="{% url 'delete' pk=bb.pk %}">Удалить</a>
            </p>
        </div>
    {% endfor %}
{% endblock %}